@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
  --color-sepia: #5b3000;
  --color-kobicha: #66462c;
  --color-walnut-brown: #726953;
  --color-battleship-gray: #76877d;
  --color-cadet-gray: #82a6b1;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}
